* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    346deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 118, 0.683782154340836) 22%,
    rgba(0, 93, 255, 0.863846463022508) 83%
  );
}

/*ERROR MODAL*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal {
  position: fixed;
  top: 40vh;
  left: 40%;
  z-index: 100;
  overflow: hidden;
  border: 4px solid black;
  padding:1.6rem;
  font-size: 1.2rem;
  width: 25rem;
  height: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  padding: 1.6rem;
  margin-top:1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-popUp {
  background-color: #ddd1d1;
  display: inline-block;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  padding: 0.5rem 0.5rem;
  text-align: center;
}
footer {
  margin-top: auto;
}
